<template>
    <div v-if="getMessage" :class="`alert ${getType}`">{{getMessage}}</div>
</template>

<script>
    export default {
        name: "alert",
        computed : {
            getType () {
                return this.$store.getters['alert/getType'];
            },
            getMessage () {
                return this.$store.getters['alert/getMessage'];
            }
        },
        methods : {
            clearAlert () {
                this.$store.dispatch('alert/clear');
            }
        },
        watch : {
            '$route' (to, from){
                this.clearAlert();
            }
        }
    }
</script>

<style scoped>

</style>