<template>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3>Create Events</h3>
            </div>
            <div class="card-body">
                <form v-on:submit.prevent="addEvent">
                    <div class="form-group">
                        <span>Name :</span>
                        <input type="text" v-validate="'required'" name="name" class="form-control" :class="{ 'is-invalid': errors.has('name') }" v-model="getEvent.name"/>
                        <div v-if="errors.has('name')" class="invalid-feedback">{{ errors.first('name') }}</div>
                    </div>
                    <div class="form-group">
                        <span>Description :</span>
                        <input type="text" v-validate="'required'" name="description" class="form-control" :class="{ 'is-invalid': errors.has('description') }" v-model="getEvent.description"/>
                        <div v-if="errors.has('description')" class="invalid-feedback">{{ errors.first('description') }}</div>
                    </div>
                    <div class="form-group">
                        <span>Date Event :</span>
                        <date-picker v-validate="'required'" name="dateEvent" class="form-control" :class="{ 'is-invalid': errors.has('dateEvent') }" v-model="getEvent.dateEvent" :config="dateTimeOptions"></date-picker>
                        <div v-if="errors.has('dateEvent')" class="invalid-feedback">{{ errors.first('dateEvent') }}</div>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Add"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        name : 'CreateEvent',
        data () {
            return {
                dateTimeOptions : {
                    format : 'DD-MM-YYYY HH:mm:ss',
                    useCurrent: false,
                    showClear: true,
                    showClose: true,
                }
            }
        },
        created (){
            this.findEventById()
        },
        watch : {
            '$route' : 'findEventById'
        },
        computed : {
          getEvent () {
              return this.$store.getters['event/getEvent'];
          }
        },
        methods : {
            addEvent () {
                this.$validator.validate().then(valid => {
                    if (valid) {
                        let id = this.getEvent.id;
                        if(id == null){
                            this.$store.dispatch('event/addEvent', this.getEvent);
                        }else{
                            this.$store.dispatch('event/editEvent' , this.getEvent)
                        }

                    }
                });
            },
            findEventById (){
                const id = this.$route.params.id;

                if (this.$route.params.id !== undefined) {
                    this.$store.dispatch('event/findEventById' , id);
                }else{
                    this.$store.dispatch('event/event');
                }
            }
        }
    }
</script>

<style scoped>

</style>