<template>
    <div>
        <h1>Events</h1>
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Name</td>
                    <td>Description</td>
                    <td>Date Event</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="event in getEvents" :key="event.id">
                    <td>{{event.id}}</td>
                    <td>{{event.name}}</td>
                    <td>{{event.description}}</td>
                    <td>{{event.dateEvent}}</td>
                    <td>
                        <router-link :to="{name: 'EditEvent', params: { id: event.id }}" class="btn btn-primary">Edit</router-link>
                        <button class="btn btn-danger" @click.prevent="deleteEvent(event.id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name : 'Event',
        created () {
            return this.$store.dispatch('event/events');
        },
        computed : {
          isLoading(){
              return this.$store.getters['event/isLoading'];
          },
          hasError(){
              return this.$store.getters['event/hasError'];
          },
          getError(){
              return this.$store.getters['event/getError'];
          },
          hasEvents(){
              return this.$store.getters['event/hasEvents'];
          },
          getEvents(){
              return this.$store.getters['event/getEvents']
          }
        }
    }
</script>

<style scoped>

</style>