<template>
  <div id="app" class="container">
    <nav class="navbar navbar-expand-sm bg-light">
      <ul class="navbar-nav">
        <li class="nav-item">
          <router-link :to="{ name : 'Event'}" class="nav-link">Event</router-link>
        </li>
        <li class="nav-item">
          <router-link :to="{ name : 'CreateEvent'}" class="nav-link">Add Event</router-link>
        </li>
      </ul>
    </nav>
    <transition name="fade">
      <div class="gap">
        <alert />
        <router-view></router-view>
      </div>
    </transition>
  </div>
</template>

<script>
import Alert from './components/Alert.vue'

export default {
  name : 'app',
  components : {
      Alert
  }
}
</script>

<style>
  .fade-enter-active, .fade-leave-active {
    transition: opacity 0.5s
  }
  .fade-enter, .fade-leave-active {
    opacity: 0
  }
  .gap {
    margin-top: 10px
  }
</style>
